.technologyContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0;
  margin-left: 11.45%;
}

@media only screen and (max-width: 800px) {
  .technologyContent {
    position: relative;
    margin: 0;
    padding: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .technologyContent {
    padding: 24px 24px 48px;
  }
}
