.techItem {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 734px;
}

.wrapper,
.techItem picture {
  max-width: 100%;
  flex: 1;
}

.wrapper {
  display: flex;
  gap: 64px;
}

.techItem picture img {
  max-width: 100%;
  height: auto;
}

.techItemInfo p.term {
  color: var(--white);
  font: var(--font-32);
  text-transform: uppercase;
  opacity: 0.5042;
}

.techItemInfo h1 {
  margin-top: 16px;
  color: var(--white);
  font: var(--font-56);
  text-transform: uppercase;
}

.techItemInfo p.description {
  margin-top: 24px;
  color: var(--blue-300);
  font: var(--font-18);
}
