.title {
  display: flex;
  justify-content: center;
  gap: 24px;

  font: var(--font-condensed-28);
  color: var(--white);
  letter-spacing: 4px;
}

.title strong {
  font-weight: 700;
  letter-spacing: 4.725px;
  opacity: 0.25;
}

@media only screen and (max-width: 800px) {
  .title,
  .title strong {
    letter-spacing: 3px;
  }
}
