.header {
  display: flex;
  padding-top: 40px;
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 64px;
  flex: 1;
  padding-left: 64px;
  z-index: 1;
}

.logoContainer hr {
  width: 100%;
  height: 1px;
  margin-right: 10px;
  color: var(--white);
  opacity: 0.25;
}

.nav {
  min-width: 645px;
  height: 96px;

  margin-left: -32px;
  padding-right: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex: 1;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
}

/** Mobile Navigation */
.navIcon {
  cursor: pointer;
}

.mobileNavContainer {
  width: 254px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 48px;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 0 0 0 32px;
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(40px);
  z-index: 10;
}

.mobileNavContainer img {
  padding: 32px 24px 32px 0;
  align-self: flex-end;
}

.mobileNavContainer .mobileNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobileNav a {
  position: relative;
  color: var(--white);
  font: var(--font-16);
  letter-spacing: 2px;
  text-decoration: none;
}

.mobileNav a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: transparent;
}
.mobileNav :global(a.active)::before {
  background-color: var(--white);
}

/** Media Queries */

@media only screen and (max-width: 800px) {
  .header {
    padding: 0;
  }

  .logoContainer {
    padding: 0;
    margin-left: 40px;
    justify-content: flex-start;
  }

  .logoContainer hr {
    display: none;
  }

  .nav {
    min-width: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-inline: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }
  .logoContainer {
    flex: none;
    margin-left: 0;
  }
}
