.destination {
  min-height: 734px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.imgWrapper,
.destinationInfo {
  max-width: 480px;
  flex: 1;
}

.destinationInfo h1 {
  margin-top: 40px;
  color: var(--white);
  font: var(--font-96);
}

.destinationInfo > p {
  margin-top: 16px;
  color: var(--blue-300);
  font: var(--font-18);
}

.destinationInfo > hr {
  margin: 40px 0;
  width: 100%;
  height: 1px;
  background-color: #fff;

  opacity: 0.25;
  border: none;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats span {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stats span small {
  color: var(--blue-300);
  font: var(--font-14);
  letter-spacing: 2px;
}

.stats span h2 {
  color: var(--white);
  font: var(--font-bellefair-28);
}

@media only screen and (max-width: 1024px) {
  .destination {
    flex-direction: column;
  }
  .destinationInfo h1,
  .destinationInfo > p {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .destination {
    min-height: 0;
  }
  .imgWrapper {
    margin: 40px 0;
  }
  .destination img {
    width: 300px;
  }

  .destinationInfo {
    max-width: 514px;
  }

  .destinationInfo h1 {
    margin-top: 24px;
  }

  .destinationInfo > hr {
    margin: 24px 0;
  }

  .stats span {
    flex: 1;
    align-items: center;
  }
  .stats {
    gap: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .imgWrapper {
    margin: 25px 0;
    flex: none;
  }
  .destination img {
    width: 150px;
  }
  .stats {
    flex-direction: column;
  }
}
