.crewMember {
  position: relative;
  height: 734px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.about {
  height: calc(100% - 48px - 15px - 40px);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.crewMember picture {
  max-width: 100%;
  flex: 1;
}
.crewMember img {
  max-width: 100%;
  height: auto;
}

.about p.role {
  color: var(--white);
  font: var(--font-32);
  text-transform: uppercase;
  opacity: 0.5;
}

.about h1 {
  margin-top: 16px;
  color: var(--white);
  font: var(--font-56);
  text-transform: uppercase;
}

.about p.bio {
  margin-top: 24px;
  color: var(--blue-300);
  font: var(--font-18);
}

@media only screen and (max-width: 800px) {
  .crewMember {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .about {
    max-width: 512px;
    margin-top: 40px;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .crewMember img {
    height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .about h1 {
    margin-top: 8px;
  }

  .crewMember img {
    height: 340px;
  }
}
