.destinationContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 11.45%;
}

@media only screen and (max-width: 800px) {
  .destinationContent {
    padding: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .destinationContent {
    padding: 24px;
  }
}
