.technologyNav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.technologyNav a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font: var(--font-32);
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.technologyNav a:hover {
  border: 1px solid var(--white);
}

.technologyNav :global(a.active) {
  border: none;
  color: var(--blue-900);
  background-color: #fff;
}

@media only screen and (max-width: 1200px) {
  .technologyNav {
    flex-direction: row;
    gap: 1rem;
  }
  .technologyNav a {
    width: 56px;
    height: 56px;
  }
}

@media only screen and (max-width: 600px) {
  .technologyNav a {
    width: 40px;
    height: 40px;
  }
}
