@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

:root {
  --blue-900: #0b0d17;
  --blue-300: #d0d6f9;
  --white: #fff;
  --on-hover: #ffffff80;
  --on-active: #fff;

  --font-144: 400 9rem / normal "Bellefair", serif;
  --font-100: 400 6.25rem / normal "Bellefair", serif;
  --font-56: 400 3.5rem / normal "Bellefair", serif;
  --font-32: 400 2rem / normal "Bellefair", serif;
  --font-bellefair-28: 400 1.75rem / normal "Bellefair", serif;
  --font-condensed-28: 400 1.75rem / normal "Barlow Condensed", sans-serif;
  --font-18: 400 1.125rem/180% "Barlow", sans-serif;
  --font-16: 400 1rem / normal "Barlow Condensed", sans-serif;
  --font-14: 400 0.875rem / normal "Barlow Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

a.active {
  color: var(--on-active);
}
